*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(182, 182, 182);
}
#sudoku{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    margin: 20px;
}
.block_case{
    outline: 2px solid black;
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px 40px;
    width: fit-content;
    color: black;
}
.case{
    display: inline-block;
    font-size: 32px;
    text-align: center;
    border: 1px solid black;
}