*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(182, 182, 182);
}

#sudoku
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}